#bouton{
  width: 120px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #808080;
  text-transform: uppercase;
  box-shadow: 2px 2px 0px 6px #363636, -1px -1px 0 #363636;
  background-color: #f2f2f2;
  border-radius: 1%;
}